{% extends "base.html" %}
{% block title %} Login Page {% endblock %}

{% block content %}
{% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endfor %}

<h1>Login-ავტორიზაცია</h1>
    <p></p>
<form action="" method="post" class="form-contact">
    <p><label>Email:</label> <input type="text" name="email" value="" required placeholder="Enter your email"></p>
    <p><label>Password:</label> <input type="text" name="password" value="" required placeholder="Enter your password"></p>
    <p><input type="submit" value="Login"></p>
</form>
{% endblock %}